html
  head
    h1= h1
  body

  each val in spaces

    form(action="/spaces/"+(val.dataValues.id)+"/edit", method="post")
      input(type="text", name="title")
      input(type="text", name="description")
      input(type="text", name="price")
      input(type="text", name="availability")
      input(type="submit", name="Edit this space!")
