extends layout

block content

  body

  h1 Welcome to ByteZero Spaces
  if email
    p(id="welcomeEmail")= email
    form(action='/users/sign-out-submit', method='post')
      input(type='submit', value='Sign Out')
  else
    p(id="noUser")= unidentified
