extends layout

block content

  body

  h1 Welcome to ByteZero Spaces
  if email
    p= email
    form(action='/users/sign-out-submit', method='post')
      input(type='submit', value='Sign Out')
  else
    h2= unidentified
